In [2]:
import pandas as pd

In [3]:
Data = {
    'Employee_ID':[101,102,103,104,105],
    'Name':["John", "Sara","Mike","Anna","Tom"],
    'Department':["HR","IT","Finance","IT","HR"],
    "Salary" :[50000,60000,55000,65000,58000],
    'Experiance_Years':[2,5,3,7,4]
}

In [4]:
df = pd.DataFrame(Data)

In [5]:
df.to_csv('Employees.csv', index=False)

In [9]:
df.to_json("Employees.json", orient="records", lines="True")

In [7]:
df.to_excel('Employees.xlsx', index=False)

In [8]:
df["Age"] = [27,25,26,28,23]

In [10]:
df.to_csv('Employees.csv', index=False)
df.to_json("Employees.json", orient="records", lines="True")
df.to_excel('Employees.xlsx', index=False)

In [11]:
new_row={
    'Employee_ID':106,
    'Name':"Perera",
    'Department':"Finace",
    "Salary" :60000,
    'Experiance_Years':6,
    'Age':30
}

In [18]:
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

In [19]:
print(df)

   Employee_ID    Name Department  Salary  Experiance_Years  Age
0          101    John         HR   50000                 2   27
1          102    Sara         IT   60000                 5   25
2          103    Mike    Finance   55000                 3   26
3          104    Anna         IT   65000                 7   28
4          105     Tom         HR   58000                 4   23
5          106  Perera     Finace   60000                 6   30

In [20]:
df =df.drop(index=2)

In [21]:
print(df)

   Employee_ID    Name Department  Salary  Experiance_Years  Age
0          101    John         HR   50000                 2   27
1          102    Sara         IT   60000                 5   25
3          104    Anna         IT   65000                 7   28
4          105     Tom         HR   58000                 4   23
5          106  Perera     Finace   60000                 6   30

In [23]:
df =df.drop(["Experiance_Years", "Age"], axis=1)

In [24]:
print(df)

   Employee_ID    Name Department  Salary
0          101    John         HR   50000
1          102    Sara         IT   60000
3          104    Anna         IT   65000
4          105     Tom         HR   58000
5          106  Perera     Finace   60000